.grid-container {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 10px;
    display: grid;
}

.sweet-tart-text {
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    font-size: 500%;
    line-height: 2;
    letter-spacing: 15px;
}

.cherry-image {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-top: -2;
    width: 420px;
}

.rightside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: grey;
    
    
}

.righttext {
    font-weight: bold;
    color: maroon;
    text-align: center;
    font-size: 460%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    letter-spacing: 15px
}


